/* write your override styles here */
.tag-1{position: absolute;
    top: 0;
    left: 0;
    width: 980px;
    height: 622px;
    background: url(../images/tag-1.png) no-repeat;
    z-index: 7;
    display: none;
}
div#wall #tag-3.slick {
    background: url(../images/tag-3.png) no-repeat;
    z-index: 5;
    display: none;
}